version: "3.4"

x-logging:
  &default-logging
  driver: json-file
  options:
    max-size: '12m'
    max-file: '5'

services:
  mylogstash:
    container_name: mylogstash
    image: mylogstash
    # 端口由default.conf里面的配置决定
    ports:
      - "4739:4739/udp"
      - "21561:21561/udp"
      - "21562:21562/udp"
    restart: always
    networks:
      - mynet1
    logging: *default-logging
    external_links:
      - essingle

networks:
  mynet1:
    driver: bridge
