input{
    kafka{
        topics => ["question_stats"]
        bootstrap_servers  => "192.168.71.163:9091,192.168.71.163:9092,192.168.71.163:9093"
        codec => "json"
        id => "question_stats"
        tags => ["question_stats"]
    }

    kafka{
        topics => ["question_expose"]
        bootstrap_servers  => "192.168.71.163:9091,192.168.71.163:9092,192.168.71.163:9093"
        codec => "json"
        id => "question_expose"
        tags => ["question_expose"]
    }
}

filter{
}

output{
    if "question_stats" in [tags] {
        elasticsearch {
            hosts => ["192.168.71.139:9200","192.168.71.139:9201"]
            codec => "json"
            index => "question_stats"
            document_type => "doc"
        }

        stdout{
            codec => rubydebug
        }
    }

    if "question_expose" in [tags] {
        elasticsearch {
            hosts => ["192.168.71.139:9200","192.168.71.139:9201"]
            codec => "json"
            index => "question_expose"
            document_type => "doc"
        }

        stdout{
            codec => rubydebug
        }
    }

    if "test" in [tags] {
        stdout{
            codec => rubydebug
        }
    }
}
